# Dependency directories
node_modules/

# Editor directories and files
.vscode/

# Environment variables
.env
.env.local
.env.*.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
